<div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
        <i class="fa-solid fa-truck-fast">&nbsp;</i>
        <strong class="flipcart">Flipkart</strong>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
        </div>
        <span>
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </span>
    </div>
    <button routerLink="cart" class="btn btn-primary">
        <i class="fa-solid fa-cart-shopping"></i>
        <div class="badge bg-danger">{{totalItem}}</div>
    </button>
</div>